Proyecto 2022 NotBase/.gradle/
Proyecto 2022 NotBase/.idea/
Proyecto 2022 NotBase/build/
Proyecto 2022 NotBase/gradle/
Proyecto 2022 NotBase/out/
Proyecto 2022 NotBase/dictionary.db
Proyecto 2022 NotBase/gradlew
Proyecto 2022 NotBase/gradlew.bat
